# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Astro
.astro/

# Logs
*.log
npm-debug.log*

# Testing
coverage/

package-lock.json
/spec
squirrel.toml